body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    color: #000;
}

.dark {
    background: #121212;
    color: #fff;
}

header {
    background: #d32f2f;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

.news {
    flex: 3;
}

article {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.dark article,
.dark aside {
    background: #1e1e1e;
}

.hidden {
    display: none;
}

button {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

aside {
    flex: 1;
    margin-left: 20px;
    background: white;
    padding: 15px;
}
